.about-main-container-parent {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F8F9FA;
}

.about-main-container-child {
  width: 70%;
}

.about-my-photo-container {
  height: 250px;
}

.about-my-photo-container img {
  height: 100%;
}

.about-social-links {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.about-social-links li {
  display: inline-block;
  
  margin: 1rem;
  font-size: 40px;
} 