.contact-main-container-parent {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}

.contact-main-container-child {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin: 20px 0;
  padding-top: 20px;
}

.contact-info-container {
  width: 90%;
  display: flex;
  margin: 10px 0;
  flex-direction: column;
  /* background-color: white; */
}

.contact-info-container input {
  width: 100%; 
  box-sizing:border-box;
  padding: 25px;
  border-radius: 0.25rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
}

.contact-input-container {
  margin: 12px 0;
}

.contact-message-container {
  width: 90%;
}

.contact-message-container textarea {
  width: 100%;
  font-size: 1rem;
  padding: 20px;
  border-radius: 0.25rem;
  box-sizing:border-box;
  border: 1px solid #ced4da;
}

.send-message-btn button {
  background-color: rgb(92, 180, 207);
  margin-bottom: 20px;
  font-size: 18px;
  padding: 20px;
  font-family: Montserrat;
  font-weight: 700;
  color: white;
  border-radius: 0.25rem;
}

.send-message-btn button:hover {
  background-color: rgb(56, 160, 191);
}

@media (min-width: 414px) {
  .contact-main-container-child {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: baseline;
    align-items: center;
    align-content: stretch;
    padding-top: 20px;
    width: 90%;
  }

  .contact-info-container {
    width: 50%;
    display: flex;
    margin: 5px;
    flex-direction: column;
    /* background-color: white; */
  }

  .contact-info-container input {
    width: 100%; 
    padding: 25px;
    border-radius: 0.25rem;
    box-sizing:border-box;
    font-size: 1rem;
    border: 1px solid #ced4da;
  }

  .contact-input-container {
    margin: 12px;
  }

  .contact-message-container {
    width: 50%;
  }
}