.contact-main-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-top: 20px;
}

.contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-outer-container {
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.contact-inner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #ffffff;
}

.contact-top-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-input {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin: 5px 0;
  padding: 5px;
  box-sizing: border-box;
  font-size: 1rem;
}

.contact-inner-container > textarea {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin: 5px 0;
  padding: 5;
  font-size: 1rem;
  box-sizing: border-box;
}

.contact-btn {
  width: 75px;
  height: 25px;
  background-color: rgb(92, 180, 207);
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-left: 5px;
  color: white;
}

@media (min-width: 600px) {
  .contact-top-content-container {
    display: flex;
    flex-direction: row;
  }

  .contact-input {
    width: 50%;
    padding: 12px;
    margin: 0px 5px;
    border: 1px solid #ced4da;
  }

  .contact-inner-container > textarea {
    margin: 10px 5px;
    padding: 12px;
    border: 1px solid #ced4da;
  }


}