.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(203, 229, 255);
  /* background-color: #F8F9FA; */
  /* background: radial-gradient(black, white); */
}

.nav-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(92, 180, 207);
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(92, 180, 207);
  position: fixed;
  top: 0;
  width: 100%;
}

.logo-container {
  width: 70px;
  display: flex;
  justify-content: center;
}

.logo {
  animation: logo-spin infinite 15s linear;
  height: 40px;
}

.link-wrap {
  display: flex;
  justify-content: space-between;
}

.links {
  font-size: 20px;
  text-decoration: none;
  padding: 25px;
  color: white;
}

.links:active {
  background-color: rgb(56, 160, 191);
}

.navigation span {
  font-size: 16px;
  text-decoration: none;
  padding: 20px 10px;
  color: white;
  cursor: pointer;
}

.links {
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.links:active {
  background-color: rgb(56, 160, 191);
}

.link-wrap > span:active {
  background-color: rgb(56, 160, 191);
}

.main-container > span:active {
  background-color: rgb(56, 160, 191);
}

@media (min-width: 321px) {
  .navigation span {
    font-size: 20px;
    text-decoration: none;
    padding: 25px 10px;
    color: white;
    cursor: pointer;
  }
}

@media (min-width: 414px) {
  .navigation span {
    font-size: 20px;
    text-decoration: none;
    padding: 25px 10px;
    color: white;
    cursor: pointer;
  }

  .empty-container-25px {
    width: 25px;
  }
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}