.footer-container {
  width: 100%;
  background-color: rgb(92, 180, 207);
  display: flex;
  color: white;
}

.footer-left-empty {
  width: 20%;
}

.footer-content {
  width: 80%;
  padding-top: 20px;
  padding-bottom: 17px;
}

.footer-right-empty {
  width: 20%;
}